---
---
@charset 'utf-8';

$em: 20px;
$width: 30 * $em;

%small {
  font-size: 0.8em;
  line-height: 1.4em;
}

%desktop {
  @media (max-width: $width) {
    display: none;
  }
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html,
body,
.container,
section {
  min-height: 100%;
}

body {
  font-size: $em;
  line-height: 1.4em;
  background-color: white;
}

section {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;

  @media (max-width: $width) {
    padding-left: .5em;
    padding-right: .5em;
  }
}

header,
footer,
article,
.disqus {
  margin-top: 4em;
  margin-bottom: 8em;
  padding: 0;
  border: 0;
}

header,
footer {
  @extend %desktop;
  text-align: center;

  a {
    text-decoration: underline;
    color: inherit;
  }
}

header {
  .logo {
    height: 92px;
    width: 92px;
  }

  nav {
    margin: .8em 0;
    ul li {
      display: inline;
      margin-right: .4em;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: chocolate;
        }
      }
    }
  }
}

footer {
  @extend %small;
  color: silver;
}

article {
  margin-left: auto;
  margin-right: auto;
  width: $width;

  a {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(chocolate, chocolate);
    background-position: 0 1.1em;
    background-repeat: repeat-x;
    background-size: 1px 4px;
    &:hover {
      text-decoration: none;
      background: linear-gradient(orangered, orangered);
      background-position: 0 1.1em;
      background-repeat: repeat-x;
      background-size: 1px 4px;
    }
  }

  .subline {
    list-style: none;
    margin-left: 0;
    font-size: .8em;
    margin-bottom: 1em;

    li {
      display: inline;
      margin-right: .8em;
    }
  }

  h1 {
    line-height: 1.2em;

    a {
      text-decoration: none;
      background: none;
    }
  }

  h2 {
    font-size: 1.4em;
  }

  pre {
    font-size: 0.8em;
    line-height: 1.3em;
    border-left: .2em solid darkslategray;
    padding-left: 1em;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  p,
  ul,
  ol {
    margin-top: .8em;
    margin-bottom: .8em;
  }

  ul,
  ol {
    margin-left: 3em;
  }

  hr {
    margin: 2em auto;
    width: 50%;
    height: 1px;
    background-color: steelblue;
  }

  .equation {
    height: 150%;
  }
}

.disqus {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @media (max-width: $width) {
    width: 100%;
  }
}

.pagination {
  text-align: center;
}
