---
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/images/logo-64.png"/>
    <link rel="stylesheet" href="/css/main.css?20180708"/>
    <link rel="stylesheet" href="https://www.yegor256.com/css/icons.css"/>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <section>
      <header>
        <p>
          <a href="/"><img src="/images/logo.svg" class="logo"/></a>
        </p>
        <nav>
          <ul>
            <li><a href="https://twitter.com/intent/follow?screen_name=0crat" rel="nofollow"
              title="Follow us on Twitter"><i class="icon icon-twitter notranslate" aria-hidden="true"></i></a></li>
            <li><a href="/rss.xml" rel="nofollow"
              title="Subscribe to my RSS feed"><i class="icon icon-rss notranslate" aria-hidden="true"></i></a></li>
            <li><a itemprop="sameAs" href="https://github.com/zold-io" rel="nofollow"
              title="Our GitHub profile"><i class="icon icon-github notranslate" aria-hidden="true"></i></a></li>
            <!--
            <li><a itemprop="sameAs" href="http://stackoverflow.com/..." rel="nofollow"
              title="Our StackOverflow questions and answers"><i class="icon icon-stackoverflow notranslate" aria-hidden="true"></i></a></li>
            -->
            <li><a itemprop="sameAs" href="https://www.facebook.com/zerocracy" rel="nofollow"
              title="Follow us on Facebook"><i class="icon icon-facebook notranslate" aria-hidden="true"></i></a></li>
            <!--
            <li><a itemprop="sameAs" href="https://www.linkedin.com/in/..." rel="nofollow"
              title="Our LinkedIn profile"><i class="icon icon-linkedin notranslate" aria-hidden="true"></i></a></li>
            -->
            <li><a itemprop="sameAs" href="https://www.youtube.com/channel/UCxZAzmY_OPw40I1-YStWqhw" rel="nofollow"
              title="Our Youtube video channel"><i class="icon icon-youtube notranslate" aria-hidden="true"></i></a></li>
            <li><a href="https://t.me/zold_io" rel="nofollow"
              title="Our Telegram public channel"><i class="icon icon-telegram notranslate" aria-hidden="true"></i></a></li>
          </ul>
        </nav>
      </header>
      {{ content }}
      <footer>
        <p>
          &copy; 2018 <a href="http://www.zold.io">Zold</a>, All rights reserved.
        </p>
      </footer>
    </section>
    <script type="text/javascript">var disqus_shortname = 'blog-zold-io';</script>
    <script id="dsq-count-scr" src="//blog-zold-io.disqus.com/count.js" async="async"></script>
  </body>
</html>
