---
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html SYSTEM "about:legacy-compat">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="{{ page.description }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/images/logo-64.png"/>
    <link rel="stylesheet" href="/css/main.css?20180708-2"/>
    <link rel="stylesheet" href="https://www.yegor256.com/css/icons.css"/>
    {% if page.date %}
      <meta name="article:published_time" content="{{ page.date }}">
    {% endif %}
    <meta name="twitter:creator" content="@0crat"/>
    <meta name="twitter:site" content="@0crat"/>
    <meta name="twitter:title" property="og:title" content="{{ page.title }}"/>
    <meta name="twitter:description" property="og:description" content="{{ page.description }}"/>
    <meta name="twitter:url" property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta name="telegram:channel" content="zold_io"/>
    <meta name='og:image' content='{{ site.url }}/images.ledger.jpg'/>
    <meta name='twitter:image' content='{{ site.url }}/images.ledger.jpg'/>
    <meta name='twitter:card' content='summary'/>
    <meta name='twitter:image:alt' content='Zold ledger'/>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <section>
      <header>
        <p>
          <a href="/"><img src="/images/logo.svg" class="logo"/></a>
        </p>
        <nav>
          <ul>
            <li><a href="https://twitter.com/intent/follow?screen_name=0crat" rel="nofollow"
              title="Follow us on Twitter"><i class="icon icon-twitter notranslate" aria-hidden="true"></i></a></li>
            <li><a href="/rss.xml" rel="nofollow"
              title="Subscribe to my RSS feed"><i class="icon icon-rss notranslate" aria-hidden="true"></i></a></li>
            <li><a itemprop="sameAs" href="https://github.com/zold-io" rel="nofollow"
              title="Our GitHub profile"><i class="icon icon-github notranslate" aria-hidden="true"></i></a></li>
            <!--
            <li><a itemprop="sameAs" href="http://stackoverflow.com/..." rel="nofollow"
              title="Our StackOverflow questions and answers"><i class="icon icon-stackoverflow notranslate" aria-hidden="true"></i></a></li>
            -->
            <li><a itemprop="sameAs" href="https://www.facebook.com/zerocracy" rel="nofollow"
              title="Follow us on Facebook"><i class="icon icon-facebook notranslate" aria-hidden="true"></i></a></li>
            <!--
            <li><a itemprop="sameAs" href="https://www.linkedin.com/in/..." rel="nofollow"
              title="Our LinkedIn profile"><i class="icon icon-linkedin notranslate" aria-hidden="true"></i></a></li>
            -->
            <li><a itemprop="sameAs" href="https://www.youtube.com/channel/UCxZAzmY_OPw40I1-YStWqhw" rel="nofollow"
              title="Our Youtube video channel"><i class="icon icon-youtube notranslate" aria-hidden="true"></i></a></li>
            <li><a href="https://t.me/zold_io" rel="nofollow"
              title="Our Telegram public channel"><i class="icon icon-telegram notranslate" aria-hidden="true"></i></a></li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="https://www.zold.io">Zold.io</a></li>
            <li><a href="/roadmap.html">Roadmap</a></li>
            <li><a href="https://papers.zold.io">Papers</a></li>
            <li><a href="https://www.0crat.com/contrib/CAZPZR9FS">Donate</a></li>
          </ul>
        </nav>
      </header>
      {{ content }}
      <footer>
        <p>
          &copy; 2018 <a href="http://www.zold.io">Zold</a>, All rights reserved.<br/>
          Found a typo in this blog? Fix it via a <a href="https://github.com/zold-io/blog.zold.io">pull request</a>.
        </p>
      </footer>
    </section>
    <script type="text/javascript">var disqus_shortname = 'blog-zold-io';</script>
    <script id="dsq-count-scr" src="//blog-zold-io.disqus.com/count.js" async="async"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1963507-54"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-1963507-54');
    </script>
  </body>
</html>
